*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: black;
    
}
body{
    background-color: black;
}
.gridContainer{
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "titulo"
    "video"
    "footer";
    grid-template-columns: 100%;
    
}
header{
    grid-area: header;
    width: 100%;
    height: auto;
    background-color: black;
   
}

.logoGamers{
    width: 10%;
    height: auto;
    
}
.logoPrincipal{
    width: 100;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
nav{
    grid-area: nav;
    min-width: 250px;
    width: 100%;
    display: block;
    position: sticky;
    background-color:  #535353;
}
ul.menuP {
    font-family: "Chakra Petch", sans-serif;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #535353;
	position: sticky;
    
}
ul.menuP li a {
    display: inline-block;
    color: white;
    background-color: #535353;
    font-weight: 500;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    position: sticky;
}
li {
  display: inline;
  position: sticky;
}
ul li:hover a {  
  background-color: #ffffff;
  color: rgb(0, 0, 0); 
  font-weight: bold;
}
.videop{
    grid-area: video;
	width: 100%;
	height: auto;
	background: #000000;
	border-color: #000000;
    text-align: center;
}
.tituloPaginas{
    grid-area: titulo;
    text-align: center;
}
.subtitulo1{
    margin: 0 auto;
    font-size: 50px;
    color: #ffffff;
    background-color: #000000;
    font-family: "Chakra Petch", system-ui;
    font-weight: 700;
    display: block;
}
.videoStarkerAir1{
   width: 600px;
    height: auto;
    margin: 0 auto;
}
footer{
    grid-area: footer;
    background-color: #535353;
    height: 80px;
    color: aliceblue;
    font-size: 15px;
    width: 100%;
    padding-top: 10px;
    position: fixed;
    bottom: 0px;
    align-content: center;
    
}
.logoIg{
    width: 45px;
    height: auto;
    grid-area: logoig;
    background-color: #535353;
}
#instagram{
    grid-area: instagram;
    color: #ffffff;
    font-family: "Roboto", system-ui;
    font-weight: 900;
    background-color: #535353;
    
    font-size: 15px;

}
#siguenosFooter{
    grid-area: siguenos;
    font-family: "Roboto", system-ui;
    font-weight: 100;
    font-size: 20px;
    background-color: #535353;
    
}
.productosMenu{
    text-align: center;
    padding-top: 1px;
    background-color: #535353;
    

}
ul.productosMenu {
    font-family: "Roboto", system-ui;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #535353;
	position: sticky;
    
}
.mapaG4G{
    width: auto;
    height: 300px;
    display: grid;
    justify-content: center;
    text-align: center;
}

ul.productosMenu li a {
    display: inline-block;
    color: rgb(7, 7, 7);
    background-color: #535353;
    text-align: center;
    padding: 8px 9px;
    text-decoration: none;
    position: sticky;
}
ul li:hover a {  
    background-color: #000000;
    color: rgb(255, 255, 255); 
    font-weight: bold;
  }
  /* vista movil */
@media only screen and (max-width: 770px){
    .videoStarkerAir1{
        width: 300px;
        height: auto;
        margin: 0 auto;
    }
    .subtitulo1{
        margin: 0 auto;
        font-size: 20px;
        color: #ffffff;
        background-color: #000000;
        font-family: "Chakra Petch", system-ui;
        font-weight: 700;
        display: grid;
        justify-content: center;
        text-align: center;
    }
    .mapaG4G{
        width: 300px;
        height: auto;
        border-color: yellowgreen;
    }
}