
.portada {
	width: auto;
	height: auto;
	padding: 8px 8px 8px 8px;
	background: #000000;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
}
.logop {
    width: auto;
    height: auto;
    background: #f5070700;
  }
.text-placeholder-3 {
	width: auto;
	height: auto;
	color: #ffffff;
	font-family: "BLOKKNeue-Regular";
	font-weight: auto;
	font-size: auto;
	line-height: 1.3;
	text-align: left;
}
.tabs-1 {
	width: auto;
	height: auto;
	background: #232323;
	color: #FFFFFF;
	border-color: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	text-align: center;
}
